# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Environment
.env

# IDEs
.idea/
.vscode/
*.swp

# Testing
.pytest_cache/
htmlcov/
.coverage